*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Din Round Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media (width < 1200px) {
    *{
        font-size: 16px;
    }
}
@media (width < 800px) {
    *{
        font-size: 14px;
    }
}

:root{
    --blue: #4ECCBD;
}

::-webkit-scrollbar{
    background-color: transparent;
    width: 8px;
}

::-webkit-scrollbar-thumb{
    background-color: #808080;
    border-radius: 10px;
}

body{
    color: #fefefe;
    font-size: 16px;
    display: flex;
    flex-direction: row;
}

/* Sidebar */

.sidebar{
    background-color: #444444;
    width: 15vw;
    height: 100vh;
    min-width: 200px;
    border-right: 1px solid #444;
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.sidebar > *:last-child{
    margin-top: auto;
}
/* Sidebar Heading */

.sidebar-heading{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.sidebar-heading:hover{
    cursor: pointer;
    scale: 1.05;
    transition: all 0.2s ease-in-out;
}

.sidebar-logo{
    width: 60px;
    object-fit: cover;
    text-align: left;
}

.sidebar-title{
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 10px;
    color: var(--blue);
}

/* Sidebar Nav */

.nav{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    border-radius: 10px;
}

/*Nav list*/

.nav-list{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    list-style: none;
    gap: 8px;
    margin-top: 8px;
}

.nav-list > .nav-list-item:not(:first-child) {  
    border-top: 2px solid #5e5e5e;
}

.nav-list-item{
    width: 100%;
    margin-bottom: 2vh;
}

.nav-list-title{
    width: 100%;
    font-size: 1.5rem;
    color: #fefefe;
}

.nav-list-anchor{
    width: 100%;
    border-radius: 10px;
    text-indent: 1vw;
    font-size: 1rem;
}

.nav-list-anchor:hover{
    color: #999999;
    cursor: pointer;
}

.nav-list-anchor span{
    color: #fefefe;
}

.active-blue{
    color: var(--blue) !important;
}

.active-nav{
    color: var(--blue) !important;
}

/* Sidebar Footer */

.sidebar-footer{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-icon-svg{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 10px;
}

.footer-div{
    width: 100%;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 1vh
}

/* Main */

main{
    width: 100%;
    height: 100vh;
    min-width: 800px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

/* Main Heading */

.header{
    background-color: #333333;
    width: 100%;
    min-height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #252525;
}

.wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    padding-left: 10px;
    width: 40%;
}

.back-button{
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin-left: 2%;
    cursor: pointer;
    border-right: 2px solid #666666;
}

.header-title{
    width: auto;
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 10px;
}

.options{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-right: 2%;
}

.options-item{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.options-icon{
    width: 100%;
    aspect-ratio: 1;
    cursor: pointer;
}

/*Content*/

.content-block{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content{
    background-color: #252525;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.hidden{
    display: none !important;
}

.contentSize{
    width: 100%;
    height: 100%;
}

.contentSize .hidden{
    display: none !important;
}

.content-sidebar{
    width: 15vw;
    height: 100vh;
    background-color: #666666;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

/* notes */


.notes-sidebar-head{
    height: auto;
    min-height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #9F9F9F;
}

.notes-sidebar-head-icons{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.notes-sidebar-icon{
    width: 30px;
    aspect-ratio: 1/1;
    object-fit: cover;
    cursor: pointer;
}

.add-icon{
    width: 40px;
    height: 40px;
}

.notes-sidebar-title{
    font-size: 1.5rem;
    font-weight: 600;
    color: #fefefe;
    margin-left: 10px;
}

/* notes list */
.notes-sidebar-content{
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
}
.notes-folder-list{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
    list-style: none;
    padding-left: 10px;
}

.folder-wrapper{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    gap: 3% ;
    cursor: pointer;
    padding-right: 10px;
}

.folder-wrapper figure{
    width: 24px;
    height: 24px;
    margin-right: 10px;
    position: relative;
}

.notes-folder{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start; 
    margin-bottom: 5%;
}

.notes-folder:first-child{
    margin-top: 5%
}

.active-folder{
    margin-bottom: 0 !important;
}

.active-folder h4{
    color: var(--blue) !important;
}

.notes-folder-icon{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 10px;
    position: relative;
    top: 50%;
    transform: translateY(-45%);
    left: 5px;
}

.notes-folder h4{
    width: 100%;
    height: auto;
    font-size: 1.2rem;
    color: #fefefe;
    margin: 0;
}

.hidden-item{
    display: none !important;
    margin-bottom: 0 !important;
} 

.notes-item-list{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
    padding-left: 5%;
    margin-top: 3%;
    list-style: none;
    margin-bottom: 0%;
}

.notes-item{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: flex-start;
    padding-left: 10%;
    cursor: pointer
}

.circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ffffff;
    margin-right: 10px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
}

.circle.active{
    background-color: var(--blue);
}

.lesson.active{
    color: var(--blue) !important;
}

.lesson{
    width: 100%;
    height: auto;
    font-size: 1rem;
    color: #fefefe;
    margin: 0;
    font-weight: bold;
}



/* Notes body */
.lessons-container{
    width: 100%;
    height: calc(100vh - 60px);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.lesson-box{
    width: 90%;
    height: 70%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.lesson-box h3{
    font-size: 2rem;
    color: #333333;
    margin-bottom: 10px;
    text-align: center;
}

.lesson-box-tag {
    width: auto;
    height: auto;
    padding: 0 5px;
    margin: 0 auto;
    color: #ffffff;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #36454F;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

/* Note Form */
.add-note{
    width: calc(100% - 40px);
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    justify-self: center;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #404040;
    border-radius: 21px;
    opacity: 0.8;
}

.edit-note{
    width: calc(100% - 40px);
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    justify-self: center;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #404040;
    border-radius: 21px;
    opacity: 0.8;
}

.note-form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
}

.breadcrumb{
    width: 100%;
    height: 30px;
    margin-top: 10px;
    font-size: 1rem;
    color: #ffffff;
    margin-left: 20px;
    opacity: 0.7;
}

.note-header{
    width: 98%;
    min-height: 65px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #525252;
    border-radius: 15px;
    padding-left: 10px;
}

.note-header section{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.note-header section:nth-child(3){
    width: 35%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.note-label{
    font-size: 2rem;
    font-weight: 600;
    margin-top: -7px;
    width: 70px;
}

.note-title{
    width: calc(100% - 90px);
    height: 50px;
    font-size: 1.5rem;
    color: #ffffff;
    margin-left: 10px;
    border: none;
    outline: none;
    background-color: transparent;
}

.note-folder{
    width: 30%;
    height: 35px;
    outline: none;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    background-color: #434343;
    margin-left: 20%;
    padding-left: 10px;
    appearance: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='white'%3e%3cpath d='M7 10l5 5 5-5z'/%3e%3c/svg%3e");
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: right 8px center;
    padding-right: 30px;
}

.note-folder::-ms-expand {
    display: none;
}

.form-button{
    width: 20%;
    height: 35px;
    outline: none;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    background-color: #434343;
}

.note-tag{
    width: 80%;
    height: 35px;
    outline: none;
    border: none;
    color: #ffffff;
    background-color: #434343;
    border-radius: 10px;
    padding-left: 10px;
    appearance: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='white'%3e%3cpath d='M7 10l5 5 5-5z'/%3e%3c/svg%3e");
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: right 8px center;
    padding-right: 30px;
}

.note-body{
    width: 100%;
    height: calc(100% - 120px);
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
    padding: 20px;
}

.note-textarea{
    width: 100%;
    height: 100%;
    font-size: 1rem;
    color: #ffffff;
    background-color: transparent;
    border: none;
    outline: none;
    resize: none;
    overflow-x: disable;
}

.note-footer{
    width: 100%;
    height: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #333333;
    border-radius: 15px;
    padding: 10px 20px;
}

.dialog{
    width: 20vw;
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #4e4e4e;
    border: none;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.dialog::backdrop{
    background-color: rgba(0, 0, 0, 0.5);
}

.dialog form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
}

.dialog form h3{
    font-size: 1.5rem;
    color: #fefefe;
    margin-bottom: 10px;
}

.dialog form p{
    font-size: 1rem;
    color: #fefefe;
    margin-bottom: 20px;
}

.dialog form input{
    width: 80%;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: #333333;
    color: #fefefe;
    padding-left: 10px;
    font-size: 1rem;
}

.dialog form .buttons{
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.dialog form .buttons button{
    width: 30%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color:#808080;
    color: #fefefe;
    cursor: pointer;
    font-size: 1rem;
}

/* Note Open */
.open-note{
    width: calc(100% - 40px);
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    justify-self: center;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #404040;
    border-radius: 21px;
    opacity: 0.8;
}
.open-note-header{
    width: 98%;
    min-height: 65px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #525252;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.open-note-header h3{
    font-size: 2rem;
    color: #fefefe;
}

.misc{
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.lesson-tag{
    width: auto;
    height: 35px;
    outline: none;
    border: none;
    color: #ffffff;
    background-color: #434343;
    border-radius: 10px;
    padding: 0 10px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-note-button{
    width: auto;
    padding: 5px;
    height: 35px;
    outline: none;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    background-color: #434343;
    text-align:center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-button{
    padding: 5px;
    width: auto;
    height: 30px;
    object-fit: cover;
}

.delete-note{
    padding: 5px;
    width: auto;
    height: 35px;
    outline: none;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    background-color: #434343;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.misc-icons{
    width: 30px;
    height: 30px;
}

.open-note-body{
    width: 100%;
    height: calc(100% - 120px);
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
    padding: 20px;
}

.notes-content{
    width: 100%;
    height: 100%;
    font-size: 1rem;
    color: #ffffff;
    background-color: transparent;
    border: none;
    outline: none;
    resize: none;
    overflow-x:clip;
}

.open-note-footer{
    width: 100%;
    height: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #333333;
    border-radius: 15px;
    padding: 10px 20px;
}